################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Entity_Sql_Server/bin/Debug/net8.0
/Entity_Sql_Server/.vs/Entity_Sql_Server
/Entity_Sql_Server/obj
/.vs
